node_modules/
dist/
*.class
*.log
*.jar
target/
TEST*.xml
Thumbs.db
# Applications
*.app
*.exe
*.war
*.apk
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.iml
.gradle
/local.properties
/.idea
/.idea/**
/.idea/caches
/.idea/misc.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
*/build/*
/captures
.externalNativeBuild
.cxx
/.vscode